body {
  background: #f5f5f5;
}

.booking-form-outer {
  display: flex;
  flex-direction: column;
  margin: 1rem 7rem;
  justify-content: center;
  align-items: flex-start;
}
.booking-form-outer .booking-cover {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: white;
  border-radius: 0.4rem;
  width: 72%;
}
.booking-form-outer .booking-cover .booking-form-uppe {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.booking-form-outer .booking-cover .booking-form-uppe .booking-image {
  width: 21%;
}
.booking-form-outer .booking-cover .booking-form-uppe .booking-image img {
  width: 100%;
  border-radius: 0.4rem;
}
.booking-form-outer .booking-cover .booking-form-uppe .booking-data {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
}
.booking-form-outer .booking-cover .booking-form-uppe .booking-data .booking-head span {
  font-size: 1.5rem;
  font-weight: 600;
}
.booking-form-outer .booking-cover .booking-form-uppe .booking-data .booking-head p {
  padding: 1rem 0;
  color: #4a4a4a;
}
.booking-form-outer .booking-cover .booking-form-uppe .booking-data .booking-body {
  color: #4a4a4a;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.booking-form-outer .booking-cover .booking-form-uppe .booking-data .booking-body .booking-date {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.booking-form-outer .booking-cover .booking-form-uppe .booking-data .booking-body .booking-date > div {
  padding: 0.2rem;
  border: 1px solid;
  text-align: center;
  width: 7rem;
  font-weight: bold;
}
.booking-form-outer .booking-cover .booking-form-uppe .booking-data .booking-body .booking-rooms {
  overflow-y: scroll;
  max-height: 10rem;
  padding: 1rem;
}
.booking-form-outer .booking-cover .booking-form-uppe .booking-data .booking-body .booking-rooms .booking-data-info {
  border-bottom: 1px solid;
  padding: 0.3rem 0;
}
.booking-form-outer .booking-cover .booking-form-uppe .booking-data .booking-body .booking-rooms .booking-data-info input {
  outline: none;
  border: none;
  background: none;
  color: blue;
  cursor: pointer;
}
.booking-form-outer .booking-cover .booking-form-uppe .booking-data .booking-body .booking-rooms .booking-each-room-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.booking-form-outer .booking-cover .booking-form-uppe .booking-data .booking-body .booking-rooms .booking-each-room-info > div {
  padding: 1rem 0 0 0;
}
.booking-form-outer .booking-cover .booking-form-lower .booking-lower-heading {
  text-align: center;
  padding: 1rem 0 0.4rem 0;
}
.booking-form-outer .booking-cover .booking-form-lower .selectedRoomId {
  overflow-y: scroll;
  max-height: 20rem;
}
.booking-form-outer .booking-cover .booking-form-lower .selectedRoomId .booking-lower-visual {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0;
}
.booking-form-outer .booking-cover .booking-form-lower .selectedRoomId .booking-lower-visual .booking-lower-head {
  width: 23%;
}
.booking-form-outer .booking-cover .booking-form-lower .selectedRoomId .booking-lower-visual .booking-lower-head img {
  width: 100%;
  border-radius: 0.4rem;
}
.booking-form-outer .booking-cover .booking-form-lower .selectedRoomId .booking-lower-visual .booking-lower-info {
  align-self: stretch;
  width: 73%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: #4a4a4a;
}
.booking-form-outer .booking-cover .booking-form-lower .selectedRoomId .booking-lower-visual .booking-lower-info .booking-loewr-price-info {
  width: 70%;
  text-align: justify;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.booking-form-outer .booking-cover .booking-form-lower .selectedRoomId .booking-lower-visual .booking-lower-info .booking-loewr-price-info span {
  font-weight: bold;
  padding: 0.2rem 0;
}
.booking-form-outer .booking-cover .booking-form-lower .selectedRoomId .booking-lower-visual .booking-lower-info .booking-lower-gauest-info {
  display: flex;
  flex-direction: column;
  width: 14%;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  align-self: center;
}
.booking-form-outer .booking-cover .booking-form-lower .selectedRoomId .booking-lower-visual .booking-lower-info .booking-lower-gauest-info .man {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.booking-form-outer .booking-cover .booking-form-lower .selectedRoomId .booking-lower-visual .booking-lower-info .booking-lower-gauest-info .man img {
  width: 2rem;
}
.booking-form-outer .booking-cover .booking-form-lower .selectedRoomId .booking-lower-visual .booking-lower-info .booking-lower-gauest-info .man span {
  padding: 0 0 0 1rem;
}
.booking-form-outer .booking-cover .booking-form-lower .selectedRoomId .booking-lower-visual .booking-lower-info .booking-lower-gauest-info .children {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.booking-form-outer .booking-cover .booking-form-lower .selectedRoomId .booking-lower-visual .booking-lower-info .booking-lower-gauest-info .children img {
  width: 2rem;
}
.booking-form-outer .booking-cover .booking-form-lower .selectedRoomId .booking-lower-visual .booking-lower-info .booking-lower-gauest-info .children span {
  padding: 0 0 0 1rem;
}
.booking-form-outer .booking-cover .booking-form-lower .selectedRoomId .booking-lower-visual .booking-lower-info .booking-lower-price {
  font-size: 1.3rem;
  font-weight: bold;
  color: inherit;
}
.booking-form-outer .booking-heading-upper {
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 0;
}

.travellers-details-outer {
  display: flex;
  margin: 1rem 7rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 61.5%;
}
.travellers-details-outer > h1 {
  font-size: 2rem;
  font-weight: 500;
  padding: 3rem 0 1rem 0;
}
.travellers-details-outer .travellers-form {
  background: white;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
}
.travellers-details-outer .travellers-form > h1 {
  font-size: 1.6rem;
  font-weight: 500;
}
.travellers-details-outer .travellers-form .actual-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.travellers-details-outer .travellers-form .actual-form > div {
  width: 100%;
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.travellers-details-outer .travellers-form .actual-form > div > div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 2rem 0 0;
}
.travellers-details-outer .travellers-form .actual-form > div > div > label {
  color: #d29751;
  padding: 0.5rem 0;
  font-weight: 500;
  font-size: 1.4rem;
}
.travellers-details-outer .travellers-form .actual-form > div > div > input, .travellers-details-outer .travellers-form .actual-form > div > div textarea {
  outline: none;
  background: none;
  border: none;
  width: 21rem;
  border: 3px solid #dddfe1;
  height: 3rem;
  font-size: 1.2rem;
  padding-left: 1rem;
}
.travellers-details-outer .travellers-form .final-button-container {
  padding: 1rem 0;
}
.travellers-details-outer .travellers-form .final-button-container input {
  outline: none;
  border: none;
  background: none;
  width: 11rem;
  height: 3rem;
  font-size: 1.8rem;
  background: #aa7938;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

/*# sourceMappingURL=BookingForm.css.map */
