@import "colors.scss";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:Calibri;
    box-sizing: border-box;
}
nav {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 4rem;
    margin: auto;
    color: $navlinks;
    background:white;
    .content-left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .logo {
        }

        .links {
            font-size: 1.2rem;
            cursor: pointer;
            padding: 0rem 2rem;

            > a {
                margin-left: 2rem;
                color:$navlinks;
            }
        }
    }

    .content-right {
        display: flex;
        flex-direction: row;
        padding: 0rem 2rem;
        justify-content: space-between;
        align-items: center;

        .right-links {
            cursor: pointer;
            padding-right: 2rem;
            //border-bottom: 2px solid ;
            transition: border-bottom 0.3s ease;
            a{
                color:black;
            }
            input {
                outline: none;
                border: none;
                font-size: 1.2rem;
                background: $btncolordark;
                width: 6rem;
                height: 2rem;
                border-radius: 0.3rem;
                color: white;
                cursor:pointer;
            }

            a {
                color: $btncolordark;
            }
        }

        .button {
            background-color: $btncolordark;
            width: 10rem;
            height: 2.5rem;
            border-radius: 0.5rem;

            > button {
                text-decoration: none;
                outline: none;
                border: none;
                cursor: pointer;
                width: 10rem;
                height: 2.5rem;
                font-size: 1.3rem;
                background-color: transparent;
                font-family: monospace;
                color: $fontwhite;
                transition: background-color 0.4s linear, box-shadow 0.4s,font-size 0.4s ease;
                font-family: Calibri;
            }
        }
    }

    a:hover {
        color: $btncolordark;
        border-bottom: 2px solid;
    }
}
.footer {
    width: 100%;
    background-color: #efeeee;
    display: flex;
    flex-direction: column;
    padding: 3rem 7rem;
    justify-content: center;

    .footer-links {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a {
            color: #1b1b1b;
            font-size: 0.9375rem;
            letter-spacing: 1px;
            padding: 0.4rem 0;
        }

        .links-1 {
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        .links-2 {
            display: flex;
            flex-direction: column;
        }

        .links-3 {
            display: flex;
            flex-direction: column;
        }

        .footer-contact {
            display: flex;
            flex-direction: column;

            > div {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;

                p {
                    padding: 1rem 0;
                }
            }

            button {
                outline: none;
                border: none;
                background: none;
                width: 12rem;
                cursor: pointer;
                background-color: $btncolordark;
                color: #fff;
                font-size: 23px;
                height: 2.3rem;
                text-align: center;
                border-radius: 0.4rem;
            }

            .footer-connect {
                display: flex;
                flex-direction: column;
                justify-content: center;

                > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    > div {
                        padding-right: 1rem;
                    }

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }

    .footer-ref {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .future-right {
            display: flex;
            flex-direction: column;

            p {
                font-size: 0.75rem;
                letter-spacing: 1px;
            }

            img {
                width: 6rem;
                padding: 1rem 0;
            }
        }

        .footer-brands {
            display: flex;
            flex-direction: column;
            width: 43rem;

            .footer-brand-images-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 1rem;
            }
        }
    }
}