@import "colors.scss";

.home-image {
    position: relative;

    .image {
        img {
            object-fit: cover;
            height: 33rem;
        }
    }

    .image-title {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 20rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        > span {
            font-size: 2rem;
            color: white;
            text-align: center;
            text-shadow: 1px 5px 10px #000000;
        }

        > input {
            text-decoration: none;
            outline: none;
            border: none;
            cursor: pointer;
            width: 10rem;
            height: 2.5rem;
            font-size: 1.3rem;
            background-color: $btncolordark;
            border-radius: 0.5rem;
            font-family: monospace;
            color: $fontwhite;
            transition: background-color 0.4s linear, box-shadow 0.4s,font-size 0.4s ease;
        }
    }

    .book-info {
        cursor: pointer;
        position: absolute;
        bottom: 1%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: #fff;
        font-size: 1.2rem;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2rem;
        margin: auto;
        width: 80%;

        .label {
            text-transform: uppercase;
            font-size: 1rem;
            font-family: cursive;
            text-align: start;
        }

        input {
            text-decoration: none;
            outline: none;
            border: none;
            cursor: pointer;
            width: 15rem;
            height: 2.5rem;
            font-size: 1.3rem;
            background-color: $btncolordark;
            border-radius: 0.5rem;
            font-family: Calibri;
            color: $fontwhite;
            transition: background-color 0.4s linear, box-shadow 0.4s,font-size 0.4s ease;
        }
    }

    .overlay {
        background: rgba(74, 74, 74, 0.55);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .book-form {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 3rem 1rem;
        background: $bookformback;
        box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
        bottom: 27%;
        top: 25%;
        left: 0;
        right: 0;
        bottom:25%;
        margin: auto;
        width: 54%;
        border-radius: 1rem;
        z-index:5;
        .close-logo {
            cursor: pointer;
            box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05);

            > img {
                background: $btncolordark;
                position: absolute;
                width: 3%;
                right: 3%;
                border-radius: 0.3rem;
                top: 4%;
            }
        }

        .date-info {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 3rem;

            > .name {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                background: white;
                height: 100%;
                margin: 0rem 2rem;
                padding: 1rem;
                border-radius: 0.4rem;
                box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05);

                > input {
                    text-decoration: none;
                    outline: none;
                    background: none;
                    border: none;
                    width: 100%;
                    padding: 1rem;
                }
            }

            > .from, .to {
                display: flex;
                flex-direction: row;
                height: 100%;
                justify-content: center;
                align-items: center;
                margin: 0 0.3rem;
                padding: 0.3rem;
                background: white;
                border-radius: 0.4rem;
                box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05);

                > input {
                    text-decoration: none;
                    outline: none;
                    border: none;
                    color: $btncolordark;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-family: cursive;
                }
            }
        }

        .room-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: 10rem;

            > .room-outer-info {
                display: flex;
                flex-direction: row;
                width: 100%;
                padding: 1rem 2rem;
                height: 4rem;
                justify-content: space-between;
                align-items: center;

                > .rooms {
                    display: flex;
                    flex-direction: row;

                    > .room {
                        display: flex;
                        border-radius: 0.4rem;
                        background: white;
                        width: 7.55rem;
                        opacity: 0.9;
                        border-top: 3px solid transparent;

                        > img {
                            height: 50%;
                            background: $btncolordark;
                            border-radius: 0.1rem;
                            cursor: pointer;
                        }

                        > button {
                            font-weight: 100;
                        }
                    }

                    .active {
                        border-top: 3px solid $btncolordark;
                        opacity: 1;

                        > button {
                            font-weight: 800;
                        }
                    }
                }

                > .add-room-btn {
                    border-radius: 0.4rem;
                    border-top: 3px solid $btncolordark;
                    background: white;
                }

                button {
                    border: none;
                    background: none;
                    color: black;
                    font-weight: 800;
                    font-size: 1.1rem;
                    padding: 0.3rem 1rem;
                    width: 100%;
                    cursor: pointer;
                }

                input {
                    border: none;
                    background: none;
                    color: $btncolordark;
                    font-weight: 800;
                    font-size: 1.1rem;
                    background: white;
                    padding: 0.3rem 0.5rem;
                    width: 100%;
                    border-radius: 0.4rem;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }

            > div {
                padding: 1rem;
            }

            .info {
                height: 29%;
                width: 92%;
                margin: 0 0 1rem 2rem;
                background: white;
                border-radius: 0.4rem;

                .infoele {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: #731414;
                    width: 100%;
                    height: 100%;

                    > div {
                        > button {
                            width: 30px;
                            height: 30px;
                            border-radius: 0.4rem;
                            border: none;
                            cursor: pointer;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .btn-container {
            width: 39%;
            height: 16%;
            margin: 0 0 0 2rem;
            cursor: pointer;

            > input {
                width: 100%;
                height: 100%;
                background: $btncolordark;
                cursor: pointer;
                text-transform: uppercase;
                color: white;
                border: none;
                outline: none;
                border-radius: 0.4rem;
                box-shadow: 0px 0px 5px 0px black;
            }
        }
    }
}

.home-body {
    margin: 1rem 7rem;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 3rem;

    .heading {
        padding: 2rem 0;
    }


    .hotel-info-outer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;


        .hotel-text {
            text-align: justify;
            padding: 0 1rem 0 0;
            color: #323232;
            font-size: 1rem;
            font-family: Calibri;
            width: 58%;

            h4 {
                font-size: 1.25rem;
                padding-bottom: 1rem;
            }

            a {
                color: $btncolor;
                border-bottom: 1px solid $btncolor;
                font-size: 0.875rem;
                letter-spacing: -1px;
                line-height: 12px;
                word-break: break-word;
            }

            > div {
                > p {
                    line-height: 1.6rem;
                    font-family: Calibri;
                    margin: 2rem 0;

                    button {
                        outline: none;
                        border: none;
                        background: none;
                        color: $btncolor;
                        border-bottom: 1px solid;
                        cursor: pointer;
                        font-weight: 900;
                    }
                }
            }

            li {
                font-family: Calibri;
            }

            h8 {
                letter-spacing: 0px;
                font-size: 1rem;
                font-weight: 900;
                border-bottom: 1px solid black;
            }

            .links {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 0.6rem;

                img {
                    width: 1.4rem;
                    margin-right: 1rem;
                }
            }

            .highlights {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin-bottom: 2rem;

                > div {
                    width: 100%;
                    padding: 1rem 0.3rem;
                    display: flex;
                    justify-content: space-between;

                    > div {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 46%;
                        flex-direction: row;

                        img {
                            width: 6.5%;
                        }
                    }
                }

                p {
                    font-family: Calibri;
                    color: #323232;
                    margin-left: 0.625rem;
                    font-size: 1rem;
                    vertical-align: middle;
                    padding-right: 5px;
                    line-height: 1;
                    display: table-cell;
                }
            }

            .policy {
                line-height: 1.7rem;

                li {
                    font-family: Calibri;
                    color: #323232;
                    font-size: 1rem;
                    list-style-type: none;
                }
            }
        }

        .hotel-image {
            overflow-y: scroll;
            height: 45rem;
            margin-bottom: 6rem;

            #image-content {
                display: grid;
                grid-template-columns: 50% 50%;
                grid-column-gap: 0rem;
                grid-row-gap: 0.9rem;

                > img {
                    width: 95%;
                    height: 12.5rem;
                }
            }
        }
    }
}

.card-outer {
    margin: 1rem 7rem;
    background: #ffffff;
    position: relative;

    h1 {
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
        padding: 1rem 0;
    }

    .onescreen {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;

        .card {
            box-shadow: 0 2px 14px 0 #e5e3e3;
            display: flex;
            flex-direction: column;
            width: 25.3rem;
            justify-content: space-between;
            align-items: flex-end;
            border-radius: 1.5rem;
            background-color: white;

            .img-cardinfo-wrapper {
                .img-container {
                    padding: 1rem;
                    width: 100%;

                    > img {
                        width: 100%;
                        height: 18rem;
                    }
                }

                .card-info {
                    padding: 0 1rem;
                    font-size: 1rem;
                    line-height: 1.3rem;
                    text-align: justify;
                    font-family: Calibri;

                    > span {
                        font-size: 1.5rem;
                        color: black;
                    }

                    > span, p {
                        font-family: Calibri;
                        line-height: 1.31;
                        color: #4a4a4a;
                        margin: 0.875rem 0;
                    }

                    > div {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 0.2rem 0;

                        > img {
                            width: 1.5rem;
                        }

                        > span {
                            margin-left: 1rem;
                        }
                    }
                }
            }


            .price {
                display: flex;
                justify-content: space-evenly;
                align-items: flex-end;
                flex-direction: column;
                margin: 2rem;

                > p {
                    font-family: Calibri;
                    font-size: 0.625rem;
                    text-align: right;
                    color: #9b9b9b;
                }

                > div {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }

                > button {
                    outline: none;
                    border: none;
                    background: none;
                    width: 8rem;
                    height: 2rem;
                    border-radius: 0.3rem;
                    background: $btncolor;
                    text-align: center;
                    text-transform: uppercase;
                    color: #ffffff;
                    font-size: 0.85rem;
                    cursor: pointer;
                }
            }
        }
    }

    .left-arr {
        position: absolute;
        top: 50%;
        left: -7%;
        cursor: pointer;
        width: 5rem;
    }

    .right-arr {
        position: absolute;
        top: 50%;
        right: -7%;
        cursor: pointer;
        width: 5rem;
    }
}

.awards {
    margin: 1rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    position: relative;

    .award-head {
        font-size: 3rem;
        font-weight: 500;
        color: #333333;
        text-align: center;
        margin: 1rem 0 2rem 0;
    }

    .div-award-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        transition: all 0.4s ease;

        .award-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 30%;
            padding: 1rem;
            text-align: justify;

            .img-award {

                img {
                    width: 8rem;
                }
            }

            .award-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                height: 8rem;

                h4 {
                    font-size: 1.3rem;
                    text-align: center;
                    font-weight: 600;
                    color: #323232;
                    vertical-align: middle;
                    padding: 1rem 0;
                }
            }
        }
    }

    .left-arr-award {
        position: absolute;
        top: 50%;
        left: -6rem;
        width: 5rem;
        cursor: pointer;
    }

    .right-arr-award {
        position: absolute;
        top: 50%;
        right: -6rem;
        width: 5rem;
        cursor: pointer;
    }
}

.location {
    margin: 1rem 7rem;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 0.45rem;

    .location-heading {
        font-size: 3rem;
        font-weight: 500;
        color: #333333;
        text-align: center;
        padding-bottom: 1rem;
    }

    .map {
        iframe {
            width: 100%;
            border-radius: 0.4rem;
        }
    }

    .location-info {
        font-size: 1rem;
        line-height: 1.4;
        color: #323232;
        padding: 1rem;
    }
}


